body{
   /* font-family: "Poppins", sans-serif; */
   background-image: url(./Img/bg.png);
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center;
   background-size: cover;
   background-origin: center;
   background-position: center center; 
}
.navbar-toggler-icon{
  background-image: url(./Img/menu.png)!important;
}
 
.nav-link{
   color: rgba(255, 255, 255, 1)!important;
   margin: 0 10px;
}
.nav-link:hover{
  color:  rgba(37, 243, 237, 1)!important;
}
.fBox a:hover{
  color:  rgba(37, 243, 237, 1)!important;

}
.navbarS{
   margin: 25px 0;
}
.content{
   text-align: center;
   color: rgba(255, 255, 255, 1);
   margin-top: 70px;
}
.content h1{
   font-family: Poppins;
   font-size: 48px;
   font-weight: 700;
   line-height: 59px;
   text-align: center;
   margin-bottom: 20px;
}
.content p{
   font-family: Inter;
   font-size: 18px;
   font-weight: 400;
   line-height: 23.33px;
   text-align: center;
   color: #E5E5E5!important;
}
.searchBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50px;
  position: relative;
  width: 659px;
  height: 90px;
  border: 1px solid white;
  /* rgba(255, 255, 255, 0.2) */
 }
 .clicked{
  background: rgba(38, 38, 38, 0.1);
 }
 .searchButton2{
  font-family: Inter;
   font-size: 18px;
   font-weight: 600;
   line-height: 21.78px;
   text-align: left;
   color: rgba(10, 15, 26, 1);
   height: 3rem;
   padding: 0 3rem;
   border-radius: 1.5rem;
   overflow: hidden;
   background: rgba(37, 244, 238, 1);
   border: 0;
   cursor: pointer;
   transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
   display: none;
 }
 .searchButton {
   font-family: Inter;
   font-size: 18px;
   font-weight: 600;
   line-height: 21.78px;
   text-align: left;
   color: rgba(10, 15, 26, 1);
   position: absolute;
   right: 8px;
   height: 3rem;
   padding: 0 3rem;
   border-radius: 1.5rem;
   overflow: hidden;
   background: rgba(37, 244, 238, 1);
   border: 0;
   cursor: pointer;
   display: inline-block;
   transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
   margin: 0 15px;
 }
 .verifyButton{
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  line-height: 21.78px;
  color: rgba(10, 15, 26, 1);
  height: 3rem;
  padding: 0 3rem;
  border: 0;
  border-radius: 1.5rem;
  overflow: hidden;
  background: rgba(37, 244, 238, 1);
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  margin:  20px;
 }
 /*hover effect*/
 button:hover {
   color: #fff;
   background-color: #1A1A1A;
   box-shadow: rgba(0, 0, 0, 0.5) 0 10px 20px;
   transform: translateY(-3px);
 }
 /*button pressing effect*/
 button:active {
   box-shadow: none;
   transform: translateY(0);
 }
 
 .searchInput {
   border: none;
   background: none;
   outline: none;
   color: white;
   font-size: 15px;
   padding: 24px 50px 24px 10px;
   width: 650px;
   
 }
.proceed{
   display: flex;
   justify-content:center;
   align-items:center;
   margin-top: 30px;
}
.carousel {
   overflow: hidden;
   white-space: nowrap;
 }
 .image-item {
   display: inline-block;
   margin-right: 20px; /* Adjust as needed */
   width: 200px;
   color: rgba(255, 255, 255, 1);
 }
 .rows{
  margin-left: 10px;
 }
 .col8{
  margin: 6px 12px 0 12px;
 }
 .col8 h5{
   font-family: Inter;
   font-size: 16px;
   font-weight: 500;
   line-height: 19.36px;
   text-align: left;
   margin: 0!important;
 }
 .col8 p{
   font-family: Inter;
   font-size: 13px;
   font-weight: 400;
   line-height: 16.94px;
   /* text-align: left;    */
   color: rgba(204, 204, 204, 1);
 }
.col4 img{
   border-radius: 30px;
}
.image-item{
   background: rgba(17, 28, 46, 1);
   width: 217px;
   height: 105px;
   border-radius: 20px;
   opacity: 0px;
   padding: 10px;
   /* padding: 25px 15px; */
}
.time{
   text-align: right;
    margin: 0;
    color: rgba(204, 204, 204, 1);
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 10px;
}
.recentUser h2{
   font-family: Inter;
   font-size: 24px;
   font-weight: 400;
   line-height: 29.05px;
   text-align: left;
   color: rgba(255, 255, 255, 1);
   margin: 35px 0;
}
.recentUser{
   margin-bottom: 90px;
}
.useNow{
   display: flex;
   flex-direction: column;
   justify-content:center;
   align-items: center;
   margin-top: 70px;
}
.useH{
   text-align: left;
   width: 660px;
}
.useNow h3{
   font-family: Inter;
   font-size: 20px;
   font-weight: 200;
   line-height: 29.05px;
   letter-spacing: 0.2em;
   text-align: left;
   color: rgba(255, 255, 255, 1);
}
#loading{
   display: none;
}
.loading{
   color: rgba(10, 15, 26, 1);
   display: flex;
   justify-content:center;
   align-items: center;
   margin-right: 65px;
   margin-top: 25px;
   font-weight: 700;
}
.loader-container {
   position: relative;
   width: 550px;
 }
 
 .custom-loader {
   text-align: center;
   width: 620px;
   height: 50px;
   border-radius: 8px;
   color: rgba(224, 228, 28, 0.05);
   border: 2px solid;
   position: relative;
   overflow: hidden;
   padding: 5px;
   animation: none; /* 
   Initially no animation */
 }
 
 .loader-fill {
   height: 100%;
   background: rgba(224, 228, 28, 1);
   border-radius: 5px;
 }
 
 @keyframes fill-animation {
   0% {
     width: 0%;
   }
   100% {
     width: 98%;
   }
 }
 
 .percentage {
   position: absolute;
   top: 0;
   left: -60%; /* Adjust the starting position */
   margin: 12px;
   opacity: 0; /* Initially hidden */
   display: none;
   animation: percentage-animation 17s forwards; /* Animation only applied when triggered */
 }
 
 @keyframes percentage-animation {
   0% {
     left: 0%; /* Adjust the starting position */
   }
   100% {
     left: 100%; /* Move to the right side */
   }
 }
 .footer{
   display: flex;
   justify-content: center;
   align-items: center;
}
.fBox{
   background: rgba(17, 28, 46, 1);
   width: 500px;
   height: 60px;
   border-right:  solid black;
   opacity: 0px;
   display: flex; 
   justify-content: center;
   align-items: center;
}
.fBox a{
   text-decoration: none;
   color: rgba(255, 255, 255, 1);
}
::placeholder {
   color: white;
   opacity: 1; /* Firefox */
 }

 .image-container {
   display: flex;
   flex-wrap: nowrap;
   overflow: hidden;
   justify-content: left;
 }
 
 .image-container img {
   opacity: 0;
   animation: fadeIn 0.5s ease forwards;
   border-radius: 50%;
   height: 27px;
   width: 27px;
 }
 .imgGen{
  width: 620px;
  height: 50px;
 }
 @keyframes fadeIn {
   0% {
     opacity: 0;
     transform: scale(0.5);
   }
   100% {
     opacity: 1;
     transform: scale(1);
   }
 }
 .makeitCenter{
  display: flex;
  justify-content: center;
 }
.rows{
  display: flex;
}
.view-text {
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.36px;
  text-align: left;
  color: #ffffff;
  margin-left: 5px; /* Adjust as needed */
}

.text-container {
  position: absolute;
  top: 0;
  left: calc(100% + 10px); /* Position to the right of the image */
  display: flex;
  align-items: center;
}
#imgGen{
  display: flex;
  align-items: center;
}
.human{
  width: 659px;
  height: 262px;
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
  border: 2px dotted rgba(21, 143, 139, 0.5);
  border-radius: 10px;
  background: rgba(17, 28, 46, 1);
  color: white;
}
.human h3{
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 29.05px;
  color: #fff;
  margin: 0;
}
.human p{
  margin-left: 10px;
  color: rgba(204, 204, 204, 1);
}
.offer h3{
  font-family: Inter;
  font-size: 22px;
  font-weight: 500;
  line-height: 29.05px;
  color: #fff;
  margin: 0;
}
.offer p{
  margin-left: 45px;
  color: rgba(204, 204, 204, 1);
}
.offer{
  width: 659px;
  height: auto;
  border: 2px dotted rgba(21, 143, 139, 0.5);
  border-radius: 10px;
  background: rgba(17, 28, 46, 1);
  padding: 30px;
}
.offerBox{
  display: flex;
  justify-content:center;
  margin-top: 40px;
  align-items: center;
  flex-direction: column;
}
.singleOffer:hover{
  background: rgba(37, 243, 237, 1);
  color: black!important;
}
.singleOffer a:hover{
  color: black!important;
}
.singleOffer {
  display: flex;
  align-items: center;
  width: 579px;
  height: 70px;
  border-radius: 10px;
  border: 1px solid rgba(30, 196, 191, 0.5);
  opacity: 0px;
  margin-bottom: 10px;
  padding: 20px;
}
.singleOffer a{
  text-decoration: none;
  color: #fff!important;
  margin: 0!important;
}
.OfferBoxMain{
  display: none;
}
iframe{
  width: 655px;
  height: 361px;
}
#human{
  display: none;
}
@media screen and (max-width: 425px) {
 }  

 @media screen and (max-width: 768px) {
    .content h1{
      font-size: 44px;
    }
    .searchBox{
      width: 640px;
    }
 }
 @media screen and (max-width: 700px) {
  .content h1{
    font-size: 42px;
  }
  .searchBox{
    width: 600px;
  }
}
@media screen and (max-width: 660px) {
  iframe{
    width: 530px;
    height: 330px;
  }
  .searchBox{
    width: 530px;
  }
  .useNow{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    padding: 10px;
 }
 .useH {
  text-align: left;
  width: 530px;
}
}
@media screen and (max-width: 550px) {
  .searchBox {
    width: 475px;
    height: 80px;
  }
  .content h1{
    font-size: 40px;
    line-height: 42px;
    margin-bottom: 10px!important;
  }
  .useNow{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    padding: 10px;
 }
 .useH {
  text-align: left;
  width: 500px;
}
  iframe{
    width: 500px;
    height: 300px;
  }
}
@media screen and (max-width: 510px) {
  .content h1 {
    font-size: 35px;
    line-height: 38px;
    margin-bottom: 10px !important;
  }
  .content p {
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 23.33px;
    text-align: center;
    color: #E5E5E5 !important;
  }
  .useH {
    text-align: left;
    width: 450px;
  }
    iframe{
      width: 450px;
      height: 250px;
    }
}  
@media screen and (max-width: 485px) {
  .content{
    margin-top: 50px;
  }
  .searchBox {
    width: 415px;
    height: 75px;
  }
  .useNow{
    margin-top: 50px;
  }
  .useH {
    text-align: left;
    width: 350px;
  }
    iframe{
      width: 350px;
      height: 197px;
    }
    .custom-loader{
      width: 350px;

    }
    .searchButton2{
      text-align: center;
      margin-top: 10px;
      display: block;
    }
    .searchButton{
      display: none;
    }
    .content p br {display: none}
    .fBox a{
      font-size: 12px;
      text-align: center;
    }
    .searchButton2{
      width: 415px;
    }
    .custom-loader{
      width: 415px;
      margin-top: 10px;
    }
    .loader-container {
      position: relative;
      width: 415px;
  }
  .percentage {
    position: absolute;
    top: 0;
    left: -60%;
    margin: 23px;
    opacity: 0;
    display: none;
    animation: percentage-animation 17s forwards;
}
    .loading{
      margin: 0;
    }
    .searchBox svg{
      width: 35px;
    }
    .searchBox {
      width: 100%;
      height: 65px;
  }
    .human,.offer{
      width: 410px;
    }
    .singleOffer{
      width: 390px;
    }
    .imgGen {
      width: 385px;
      height: 50px;
  }
  @keyframes percentage-animation {
    0% {
      left: 0%; /* Adjust the starting position */
    }
    100% {
      left: 80%; /* Move to the right side */
    }
  }
}  

@media screen and (max-width: 425px) {
  .searchBox {
    width: 100%;
  }
  .useNow{
    margin-top: 0;
  }
  .content{
    margin-top: 30px;
    text-align: center;
  }
  .searchButton{
    display: none;
  }
  .content p br {display: none}
  .content img{
    height: 60px;
    margin-bottom: 10px;
  }
  .content p{
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.87px;
    text-align: center;
  }
  .content h1{
    font-family: Inter;
    font-size: 25px;
    font-weight: 700;
    line-height: 29.05px;
    text-align: center;
  }
  .useH {
    text-align: left;
    width: 410px;
  }
  iframe{
    width: 410px;
    height: 210px;
  }
  .searchButton2{
    width: 410px;
  }
  .custom-loader{
    width: 390px;
  }
  .loader-container {
    position: relative;
    width: 400px;
}
  .loading{
    margin: 0;
  }
  .searchBox svg{
    width: 35px;
  }
  .searchBox {
    width: 100%;
    height: 65px;
}
  .human,.offer{
    width: 410px;
  }
  .singleOffer{
    width: 390px;
  }
  .imgGen {
    width: 385px;
    height: 50px;
}
@keyframes percentage-animation {
  0% {
    left: 0%; /* Adjust the starting position */
  }
  100% {
    left: 80%; /* Move to the right side */
  }
}
}  
@media screen and (max-width: 420px) {
  .useH {
    text-align: left;
    width: 388px;
  }
  iframe{
    width: 388px;
    height: 210px;
  }
  .searchButton2{
    width: 388px;
  }
  .human,.offer{
    width: 388px;
  }
  .singleOffer{
    width: 370px;
  }
  .imgGen {
    width: 365px;
    height: 50px;
}
  .custom-loader{
    width: 370px;
  }
  .loader-container {
    position: relative;
    width: 380px;
}
} 
@media screen and (max-width: 400px) {
  .useH {
    text-align: left;
    width: 375px;
  }
  iframe{
    width: 375px;
    height: 210px;
  }
  .searchButton2{
    width: 375px;
  }
  .human,.offer{
    width: 375px;
  }
  .singleOffer{
    width: 350px;
  }
  .imgGen {
    width: 345px;
    height: 50px;
}
  .custom-loader{
    width: 350px;
  }
  .percentage {
    position: absolute;
    top: 0;
    left: -60%;
    margin: 23px 0;
    opacity: 0;
    display: none;
    animation: percentage-animation 17s forwards;
}
  .loader-container {
    position: relative;
    width: 375px;
}
} 
@media screen and (max-width: 380px) {
  .percentage {
    position: absolute;
    top: 0;
    left: -60%;
    margin: 24px 0px;
    opacity: 0;
    display: none;
    animation: percentage-animation 17s forwards;
}
  .useH {
    text-align: left;
    width: 350px;
  }
  iframe{
    width: 350px;
    height: 210px;
  }
  .searchButton2{
    width: 350px;
  }
  .human,.offer{
    width: 350px;
  }
  .singleOffer{
    width: 330px;
  }
  .imgGen {
    width: 325px;
    height: 50px;
}
  .custom-loader{
    width: 330px;
  }
  .loader-container {
    position: relative;
    width: 350px;
}
} 
@media screen and (max-width: 355px) {
  .useH {
    text-align: left;
    width: 325px;
  }
  iframe{
    width: 325px;
    height: 210px;
  }
  .searchButton2{
    width: 325px;
  }
  .human,.offer{
    width: 325px;
  }
  .singleOffer{
    width: 305px;
  }
  .imgGen {
    width: 300px;
    height: 50px;
}
  .custom-loader{
    width: 305px;
  }
  .loader-container {
    position: relative;
    width: 325px;
}
} 
@media screen and (max-width: 335px) {
  .useH {
    text-align: left;
    width: 300px;
  }
  iframe{
    width: 300px;
    height: 210px;
  }
  .searchButton2{
    width: 300px;
  }
  .human,.offer{
    width: 300px;
  }
  .singleOffer{
    width: 280px;
  }
  .imgGen {
    width: 280px;
    height: 50px;
}
  .custom-loader{
    width: 280px;
  }
  .loader-container {
    position: relative;
    width: 300px;
}
.offer h3 {
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 29.05px;
  color: #fff;
  margin: 0;
}
} 